<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BGRotator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <BGRotator.Properties.Settings>
            <setting name="wallpaperDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="rotateInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="favoritesDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="trashDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="nextHotkey" serializeAs="String">
                <value/>
            </setting>
            <setting name="favoriteHotkey" serializeAs="String">
                <value/>
            </setting>
            <setting name="trashHotkey" serializeAs="String">
                <value/>
            </setting>
            <setting name="nextOnFavorite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nextOnTrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveOrCopyOnFavorite" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="moveOrCopyOnTrash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useDarkBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="primaryColor" serializeAs="String">
                <value>grey</value>
            </setting>
            <setting name="accentColor" serializeAs="String">
                <value>deeporange</value>
            </setting>
        </BGRotator.Properties.Settings>
    </userSettings>
</configuration>
